<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn" >
 
    <!--Call to action-->
    <h4>Leave Comment</h4>
  
    <div class="pt-4">
      
      <form [formGroup] = "textAreaForm">
        <div class="form-group">
          <textarea rows="2" style="margin-left:25%;width:50%;" class="form-control" formControlName="textArea" [(ngModel)]="userC.userCC">Message</textarea>
        </div>
        
        <button (click)="createPosts()" type="submit" class="btn btn-primary" [disabled]="!textAreaForm.valid">
          Send
        </button>        
      </form>
    
       
        
    </div>
    <!--/.Call to action-->
    <!-- Social icons -->
    <!-- Social icons -->
  
    <!--Copyright-->
    <div class="footer-copyright py-3">

      <p>FUTURE DIMENSION contact:support@sposync.com   Django Channel webRTC PWA Pion Clients</p>
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->
  
  </footer>
  <!--/.Footer-->