<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
   
    <div class="container" style="color:blue;">

      <!-- Brand -->
  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">

            <a routerLink="/login-main"  class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active">All Login</a>           
            <a routerLink="/p2p-login"  class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active">Secure P2P Call&Access</a>
       
            &nbsp;&nbsp;
          
            <div class="row" *ngIf="isAuthH">
              <a routerLink="/signUp" class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active"  *ngIf="obuser" >Your ID : {{obuser}}</a>
            </div>

        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">

          <div class="row" *ngIf="isAuthH">
            <li><a routerLink="/setProfile" class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active">Profile</a></li>
      
            <li><a routerLink="/logOut" class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active" (click)="onLogout()">Logout</a></li>
          </div>
           
          &nbsp;&nbsp;&nbsp;
            <li><a routerLink="/signUp" class="navbar-brand" style="font-size:20px;color:rgb(20, 27, 12);"  routerLinkActive="active">SignUp</a></li>
       
         
        </ul>

      </div>

    </div>
  
  </nav>