<nav class="tm-nav">    

    <button class="navbar-toggler" type="button"  (click)="isShown=!isShown" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>


        <ul id="tm-main-nav" [ngClass]="{ 'show': isShown }">
        
            <li class="nav-item">
                <a href="#about" class="nav-link">
                    <h2>Enable your Robots Drones IoT</h2>
                    <h2>Accesbile gloablly on sposync</h2>
                </a>
            </li>            
        </ul>
    
</nav>