<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Live Interative Video Event Streaming</title>  
  <meta name="description" content="free online video advertisement webcast live event streaming P2P global access IoT robot drone control with streaming django channel webRTC PWA Pion Clients raspberry pi">
  <meta name="robots" content="index, follow" />
  <!-- Bootstrap CSS -->
  
</head>


    <app-nav-main></app-nav-main>

    <div class="view full-page-intro"  style="background-image:  url( 'assets/img/subbuzz.jpg'  ); background-repeat: no-repeat; background-size: cover;">
    
      <!-- Content -->
      <div class="container">
          <br>
          <br>
          <br>
            <h1 style="color:white ;font-family: 'Raleway', sans-serif;  text-align: center;margin-bottom: 40px;margin-top: 40px;">Dream Spot Streaming</h1>
            
            <div class="leftpanem">
                <div id="map-canvas" style="height: 420px; width:100%;border: 0px solid #AAA;">          
                </div>
            </div>
          
            <div class="rightpanem">
                <video style="object-fit: cover;height: 420px; width:100%;border: 0px solid #AAA;" autoplay plays-inline preload="auto" muted>
                  <source src="assets/img/cover_slide_ev_s.webm"  type="video/webm">
                </video>
            </div>     
      <!-- Content Container-->
      </div>
 <!-- CONTIANER-->
    </div>

<main>

  <div class="container"><br/>

    <div class="center">
      <h2 style="margin-right: 50%;"> LOGIN </h2><br/>

        <div *ngIf="!is_authenticated">    
          
              <label>Username </label>&nbsp;
              <input type="text" name="login-username" [(ngModel)]="userLogin.username" placeholder="Username"><br/><br/>
              <span *ngFor="let error of errors.username">{{ error }}</span>
            

              <label>Password </label>&nbsp;
              <input type="password" name="login-password" [(ngModel)]="userLogin.password" placeholder="Password"><br/><br/>
              <span *ngFor="let error of errors.password"> {{ error }}</span>


              <button (click)="login()" class="btn btn-primary" >Log In</button><br/>
              <span *ngFor="let error of errors.non_field_errors">{{ error }}</span>
        </div>

        <div>
            <p style="font-size:18px;">Don't have an account? <a routerLink="/signUp" class="tm-text-primary" routerLinkActive="active"> Sign up</a>
            </p>        
        </div>    
    
    </div>

  </div>


</main>

<!--Footer-->
<app-footer></app-footer>

<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>

 <script>
  if (!navigator.serviceWorker.controller) {
      navigator.serviceWorker.register("/static/sw.js").then(function(reg) {
      //    console.log("Service worker has been registered for scope: " + reg.scope);
      });
  }
 </script>